{% extends  'layout.html' %}
{% block body %}

<div class="container pt-5">
    <h3 class="text-center text-primary">Estas agregando infracciones a nombre del guarda</h3>
    <h5 class="text-center text-muted">Nombre {{guarda.nombre}} </h5>
    <h5 class="text-center text-muted">Identidicación {{guarda.id}} </h5>
    <br><br>
    <form action="/add-info/{{guarda.id}}/{{guarda.nombre}}" method="post">
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Placa</label>
            <div class="col-sm-10">
                <input type="text" name="placa" class="form-control" id="colFormLabel" placeholder="Placa del carro">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Identidicación</label>
            <div class="col-sm-10">
                <input type="text" name="identificacion" class="form-control" id="colFormLabel"
                    placeholder="Identidicación infractor">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre infractor</label>
            <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control" id="colFormLabel"
                    placeholder="Nombre del infractor">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">valor</label>
            <div class="col-sm-10">
                <input type="text" name="valor" class="form-control" id="colFormLabel"
                    placeholder="Valor de infraccion">
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleFormControlSelect1">Concepto de la infracción</label>
            <select name="concepto" class="form-control" id="exampleFormControlSelect1">
                <option value="Exceso de velicidad">Exceso de velicidad</option>
                <option value="Sin pase">Sin pase</option>
                <option value="Conducir bajo la influencia del alcohol">Conducir bajo la influencia del alcohol</option>
                <option value="Revisión Técnica vencida o rechazada">Revisión Técnica vencida o rechazada</option>
                <option value="Conducir vehículo sin placa patente">Conducir vehículo sin placa patente</option>
            </select>
        </div>
        <p class="text-center pt-5">
            <button class="btn btn-primary"> Enviar información</button>
        </p>
    </form>

</div>


{% endblock %}