<form action="" method="post">
    <input type="text" placeholder="Placa del carro" name="placa" id="">
    <input type="text" placeholder="Cedula del infractor" name="identificacion" id="">
    <input type="text" name="fecha" placeholder="Fecha de la infraccion" id="">
    <input type="text" name="nombre" placeholder="Nombre dle infractor" id="">
    <input type="text" name="valor" placeholder="valor de la infraccion" id="">
    <input type="text" name="concepto"  placeholder="Concepto de la infraccion" id="">

    <button type="submit">Enviar</button>
</form>