{% extends  'layout.html' %}
{% block body %}
{% with messages =  get_flashed_messages() %}
{% if messages  %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor%}
{% endif%}
{% endwith%}

<div class="container auto pt-5">
    <div class="text-primary text-center">
        <h1 class="display-3">Resumen de infracción {{data}}</h1>
    </div>
    <div class="container pt-5">
        <table class="table col-lg-12">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre inspector</th>
                    <th scope="col">Identidicación inspector</th>
                    <th scope="col">Numero de infracciones</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody class="">
                {% for doc in inf%}
                <tr>
                    <td>{{doc.guarda.nombre}}</td>
                    <td>{{doc.guarda.id}}</td>
                    <td>{{doc.infracciones}}</td>
                    <th>{{(doc. infracciones *100)/total}} %</th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
        <p class="text-center pt-5">
            <a href="/summary" role="button" class="btn btn-primary">Volver</a>
        </p>
    </div>
</div>


{% endblock %}