{% extends  'layout.html' %}
{% block body %}
{% with messages =  get_flashed_messages() %}
{% if messages  %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor%}
{% endif%}
{% endwith%}

<script>
  function validateSaveGuarda(a, b) {
    a = document.getElementById('exampleInputEmail1')
    b = document.getElementById('exampleInputPassword1')
    if (a == "" && b == "") {
      swal("Cuidado", "Debes rellenar todos los campos");
    }
  }

</script>

<div class="container auto pt-5">
  <div class="text-primary text-center pt-5">
    <h1 class="display-3">Bienvenido </h1>
    <h5 class="text-dark">Taller final Python</h5>
    <h5 class="text-dark">Desarrollado por: Deyxon Miguel Hinestroza Robledo</h5>
    <h5 class="text-dark">Tecnología en sistemas</h5>
    <h5 class="text-dark">Tendencias en desarrollo de software </h5>
  </div>
</div>


{% endblock %}