<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Identificion</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for guardas in guarda %}
        <tr>
            <td>{{ guardas.nombre}}</td>
            <td>{{ guardas.id}}</td>
            <td>
                <a href="">Editar guarda</a>
                <a href="">Eliminar guarda</a>
                <a href="/detail-guarda/{{guardas.id}}">Add Infracciones</a>
                <a href="/view-guarda/{{guardas.id}}">View Infracciones</a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
    <br>
    <a href="/summary" role="button">Ver resumen de Infracciones</a>
</table>