{% extends  'layout.html' %}
{% block body %}
<!-- <div style="margin: 0% auto" class="container pt-5 row">
    <div class="col-lg-6 container">
        <h5 class="text-primary">Infracciones por Exceso de velocidad: {{ data1|length }}</h5>
        <table class="table col-lg-4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Identidicación</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody class="table-active">
                {% for doc in data1%}
                <tr>
                    <td>{{doc.nombreg}}</td>
                    <td>{{doc.idguarda}}</td>
                    <th>x</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-lg-6 container">
        <h5 class="text-primary">Infracciones por no portar el pase: {{ data2|length }}</h5>
        <table class="table col-lg-4">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Identidicación</th>
                    <th scope="col">Porcentaje</th>

                </tr>
            </thead>
            <tbody class="table-active">
                {% for doc in data2%}
                <tr>
                    <td>{{doc.nombreg}}</td>
                    <td>{{doc.idguarda}}</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</div>
<br><br>
<div class="row container" style="margin: 0% auto">
    <div class="col-lg-6">
        <h5 class="text-primary">Conducir bajo la influencia del alcohol: {{ data3|length }}</h5>
        <table class="table col-lg-4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Identidicación</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody class="table-active">
                {% for doc in data3%}
                <tr>
                    <td>{{doc.nombreg}}</td>
                    <td>{{doc.idguarda}}</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-lg-6">
        <h5 class="text-primary">Revisión Técnica vencida o rechazada: {{ data4|length }}</h5>
        <table class="table col-lg-4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Identidicación</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody class="table-active">
                {% for doc in data4%}
                <tr>
                    <td>{{doc.nombreg}}</td>
                    <td>{{doc.idguarda}}</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<br><br>
<div class="row container" style="margin: 0% auto">
    <div class="col-lg-6">
        <h5 class="text-primary">Conducir vehículo sin placa patente: {{ data5|length }}</h5>
        <table class="table col-lg-4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Identidicación</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody class="table-active">
                {% for doc in data5%}
                <tr>
                    <td>{{doc.nombreg}}</td>
                    <td>{{doc.idguarda}}</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <h3 class="text-primary">Hay un total de
            {{ data1|length  +data2|length +data3|length +data4|length +data5|length }}
            infracciones</h3>
    </div>
</div> -->
<div class="container auto pt-5">
    <div class="text-primary text-center">
        <h1 class="display-3">Bienvenido a resumen</h1>
        <h5 class="text-dark">Selecciona el tipo de infraccion para ver el resumen</h5>
    </div>
    <form action="/detail-summary" method="POST">
        <div class="form-group row pt-5">
            <select name="tipe" class="form-control" id="exampleFormControlSelect1">
                <option value=""></option>
                <option value="Exceso de velicidad">Exceso de velicidad</option>
                <option value="Sin pase">Sin pase</option>
                <option value="Conducir bajo la influencia del alcohol">Conducir bajo la influencia del alcohol</option>
                <option value="Revisión Técnica vencida o rechazada">Revisión Técnica vencida o rechazada</option>
                <option value="Conducir vehículo sin placa patente">Conducir vehículo sin placa patente</option>
            </select>
        </div>
        <p class="lead text-center">
            <button class="btn btn-primary btn-lg" type="submit" role="button">ver resumen</button>
        </p>
    </form>
</div>

{% endblock %}