{% extends  'layout.html' %}
{% block body %}

<div class="container">
    <div class="container">
        <div class="text-primary text-center pt-5">
            <h3 class="">{{guarda.nombre}} </h3>
            <p  class="lead">{{guarda.id}}</p>
        </div>
        <table class="table table-hover">
            <thead class="table-primary">
                <th>Nro Comparendo</th>
                <th>Indentificacion</th>
                <th>Fecha infraccion</th>
                <th>Nombre Infractor</th>
                <th>Valor Infraccion</th>
                <th>Concepto infraccion</th>
                </tr>
            </thead>
            <tbody class="">
                {% for infracciones in guarda.infracciones %}
                <tr>
                    <td>{{infracciones.id}}</td>
                    <td>{{infracciones.identificacion}}</td>
                    <td>{{infracciones.fecha}}</td>
                    <td>{{infracciones.nombre}}</td>
                    <td>{{infracciones.valor}}</td>
                    <td>{{infracciones.concepto}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>

    </div>
</div>


{%endblock%}